<div class="container">
  <h1>This the Payam!!!</h1>
  <h3>What is this thing?</h3>
  <p>This thing is a kind of game made popular by the surrealists in the 1920's. It has been referred to as <a href="https://en.wikipedia.org/wiki/Exquisite_corpse">"Exquisite Corpse"</a> and that is what I called this at first.</p>
  <p>But that was too ghoulish</p>
  <h3>Why "Payam"?</h3>
  <p>Good question</p>
  <h4>Thank You.</h4>
  <p>You are welcome</p>
  <h5>Okay, will you just tell me</h5>
  <p>Yes. I was looking for a word in a different language and so found this word which kind of means "message" but it's a bastardized spelling and I can't pronounce the orignial word nor can I actually spell it.</p>
  <h6>Okay.</h6>

<%= link_to "HOME", "/" %>
</div>
