<p>Hey there, <%= @player.username %>.</p>

<p><%= link_to "New Corpse", new_corpse_path %></p>

<% @player.corpses.each do |c| %>
  <%= link_to "#{c.style.name}", corpse_path(c) %><br>
<% end %>
<br>

<% @player.waiting.each do |corpse| %>
  <%= link_to "Ready for line #{corpse.counter}.", edit_corpse_path(corpse) %>
<% end %>
