html {
  min-height: 100%;
  position: relative;
}


/* Move down content because we have a fixed navbar that is 50px tall */
body {
  margin-top: 20px;
  margin-bottom: 60px;
  min-height: 1000px;
  background-color: #333;
  opacity: .8;
  padding-bottom: 20px;
  color: #fff;
  text-align: auto;
  /*text-shadow: 0 .5px 1px rgba(0,0,0,.5);*/
}

a {
  color: #1af;
}

a:hover,
a:focus {
  color: #2bf;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.biginner {
  font-family: cursive;
  font-size: 46px;
  color: #decdff;
}

.goudy {
  font-family: Sorts Mill Goudy;
}

.container .text-muted {
  margin: 20px 0 0 -150px;
  font-size: 18px;
}

.form_errors { color: red }

.field_with_errors {
  color: red;
  background: transparent;
}
.field_with_errors input {
  border: thin solid red;
}

.jumbotron {
  background-color: inherit;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #dfdfdf;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #6120d4;
  border: 1px solid #fff;
}

.site-wrapper {
 -webkit-box-shadow: inset 0 10px 25px -6px rgba(0,0,0,.5);
         box-shadow: inset 0 10px 25px -6px rgba(0,0,0,.5);

}

.full {
  background: url('vache-text.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/*flash*/

.alert-error {
 background-color: #f2dede;
 border-color: #eed3d7;
 color: #b94a48;
 text-align: left;
}

.alert-alert {
 background-color: #f2dede;
 border-color: #111111;
 color: #ee1111;
 text-align: left;
}

.alert-success {
 background-color: #111111;
 border-color: #111111;
 color: #ffffff;
 text-align: left;
}

.alert-notice {
 background-color: #dff0d8;
 border-color: #111111;
 color: #468847;
 text-align: left;
}
